[Unit]
Description=S10 Bluetooth Remote Input Remapper (Rust)
After=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/local/bin/s10_ringctrl --remap -c /etc/s10-ringctrl.toml
Restart=always
RestartSec=5
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="XDG_CURRENT_DESKTOP=Hyprland"

[Install]
WantedBy=multi-user.target
